<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-searchbar
        showCancelButton="focus"
        debounce="500"
        animated
        [(ngModel)]="query"
        (ngModelChange)="search()"
    ></ion-searchbar>
    <!--    [href]="'http://libgen.is/get.php?md5=' + book.md5" target="_blank"-->
    <ion-card *ngFor="let book of searchResults" routerLink="/book">
        <div style="width: 100%; text-align: center;">
            <img
                [src]="'http://covers.openlibrary.org/b/isbn/' + book.identifier.split(',')[0]+ '-L.jpg'"
                alt="image"
            />
        </div>
        <ion-card-header>
            <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
            <ion-card-title>{{book.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{book.descr}}
        </ion-card-content>
    </ion-card>
</ion-content>
